# Server Configuration
PORT=3000
BASE_URL=https://presensi.polines.ac.id
SESSION_SECRET=polines-presensi-secret-key-12345
ENCRYPTION_KEY=polines-presensi-secret-key-12345

# Location defaults
DEFAULT_LATITUDE=-7.052547
DEFAULT_LONGITUDE=110.434410

# Supabase PostgreSQL Database Connection
# Connection String (Transaction Pooler or Direct)
DATABASE_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres?pgboiler=true"
DIRECT_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"
